@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer base {
  html {
    @apply min-h-full font-sans scroll-smooth;
  }
  body {
    @apply bg-primary min-h-screen text-accent;
  }

  #root {
    @apply min-h-screen flex flex-col justify-between gap-y-20 relative;
  }

  @font-face {
    font-family: "Roboto";
    src: local("Roboto"),
      url(../src/fonts/RobotoMono-Medium.ttf) format("truetype");
  }
}
